@{
    ViewBag.Title = "Gráficos";
}

<!-- Single button -->
<div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Selecione <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#">Atores e o total de titulos por ator</a></li>
        <li><a href="#">Gêneros e o total de titulos por gênero</a></li>
        <li><a href="#">Clientes e o total de titulos locados</a></li>
        <li class="divider"></li>
        <li><a href="#">Top 10 dos titulos mais locados por período</a></li>
    </ul>
</div>

<div id="divFilter" hidden="hidden">
    <div class="row">
        <div class="col-xs-2">
            <input type="text" id="from" class="form-control" placeholder="20/11/2013">
            <input type="text" id="to" class="form-control" placeholder="20/11/2013">
            <button type="button" id="filter" class="btn btn-primary">Filtrar</button>
        </div>
    </div>
</div>

<div id="chart_div" style="width: 900px; height: 500px;" align="center"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jquerymask")
    <!--<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>-->
    <script type="text/javascript">

        $(function () {

            $("#divFilter").slideUp();

            Date.prototype.ddmmyyyy = function () {

                var yyyy = this.getFullYear().toString();
                var mm = (this.getMonth() + 1).toString(); // getMonth() is zero-based         
                var dd = this.getDate().toString();

                return (dd[1] ? dd : "0" + dd[0]) + '/' + (mm[1] ? mm : "0" + mm[0]) + '/' + yyyy;
            };

            var hoje = new Date();

            $("#from").mask("99/99/9999");
            $("#to").mask("99/99/9999");

            $("#from").val(hoje.ddmmyyyy());
            $("#to").val(hoje.ddmmyyyy());

            $(document).on('click', '.dropdown-menu li a', function () {
                console.log("Selected Option:" + $(this).text());

                $("#chart_div").html('<img src="@(Url.Content("~/Images/loading.gif"))" width="50" height="40">');

                $("#divFilter").slideUp();
                //$("#chart_div").slideUp();

                val = $(this).text();

                switch (val) {
                    case "Atores e o total de titulos por ator":
                        $.ajax({
                            url: 'https://www.google.com/jsapi?callback',
                            cache: true,
                            dataType: 'script',
                            success: function () {
                                google.load('visualization', '1', {
                                    packages: ['corechart'], 'callback': function () {
                                        $.ajax({
                                            type: "POST",
                                            dataType: "json",
                                            data: "",
                                            url: "/Chart/AtoresEOTotalDeTitulosPorAtor",
                                            success: function (jsondata) {
                                                
                                                var data = new google.visualization.DataTable();
                                                data.addColumn('string', 'Atores');
                                                data.addColumn('number', 'Títulos');
                                                data.addRows(jsondata);

                                                var options = {
                                                    'title': 'Atores e o total de titulos por ator',
                                                    'width': 600,
                                                    'height': 400,
                                                    is3D: true
                                                };

                                                var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
                                                chart.draw(data, options);
                                                //$("#chart_div").slideDown();
                                            }
                                        });
                                    }
                                });
                            }
                        });
                        break;

                    case "Gêneros e o total de titulos por gênero":
                        $.ajax({
                            url: 'https://www.google.com/jsapi?callback',
                            cache: true,
                            dataType: 'script',
                            success: function () {
                                google.load('visualization', '1', {
                                    packages: ['corechart'], 'callback': function () {
                                        $.ajax({
                                            type: "POST",
                                            dataType: "json",
                                            data: "",
                                            url: "/Chart/GenerosEOTotalDeTitulosPorGenero",
                                            success: function (jsondata) {
                                                var data = new google.visualization.DataTable();
                                                data.addColumn('string', 'Gêneros');
                                                data.addColumn('number', 'Títulos');
                                                data.addRows(jsondata);

                                                var options = {
                                                    'title': 'Gêneros e o total de titulos por gênero',
                                                    'width': 600,
                                                    'height': 400,
                                                    is3D: true
                                                };

                                                var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
                                                chart.draw(data, options);
                                                //$("#chart_div").slideDown();
                                            }
                                        });
                                    }
                                });
                            }
                        });
                        break;

                    case "Clientes e o total de titulos locados":
                        $.ajax({
                            url: 'https://www.google.com/jsapi?callback',
                            cache: true,
                            dataType: 'script',
                            success: function () {
                                google.load('visualization', '1', {
                                    packages: ['corechart'], 'callback': function () {
                                        $.ajax({
                                            type: "POST",
                                            dataType: "json",
                                            data: "",
                                            url: "/Chart/ClientesEOTotalDeTitulosLocados",
                                            success: function (jsondata) {
                                                var data = new google.visualization.DataTable();
                                                data.addColumn('string', 'Clientes');
                                                data.addColumn('number', 'Títulos');
                                                data.addRows(jsondata);

                                                var options = {
                                                    'title': 'Clientes e o total de titulos locados',
                                                    'width': 600,
                                                    'height': 400,
                                                    is3D: true
                                                };

                                                var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
                                                chart.draw(data, options);
                                                //$("#chart_div").slideDown();
                                            }
                                        });
                                    }
                                });
                            }
                        });
                        break;

                    case "Top 10 dos titulos mais locados por período":

                        $("#divFilter").slideDown();

                        $("#filter").click(function () {

                            $.ajax({
                                url: 'https://www.google.com/jsapi?callback',
                                cache: true,
                                dataType: 'script',
                                success: function () {
                                    google.load('visualization', '1', {
                                        packages: ['corechart'], 'callback': function () {

                                            var filtro = {};
                                            filtro.DataInicial = $("#from").val();
                                            filtro.DataFinal = $("#to").val();

                                            var dataObject = JSON.stringify({
                                                'DataInicial': $("#from").val(),
                                                'DataFinal': $("#to").val()
                                            });

                                            $.ajax({
                                                type: "POST",
                                                dataType: "json",
                                                data: filtro,
                                                url: "/Chart/Top10DosTitulosMaisLocadosPorPeriodo",
                                                success: function (jsondata) {
                                                    var data = new google.visualization.DataTable();
                                                    data.addColumn('string', 'Atores');
                                                    data.addColumn('number', 'Títulos');
                                                    data.addRows(jsondata);

                                                    var options = {
                                                        'title': 'Top 10 dos titulos mais locados por período',
                                                        'width': 600,
                                                        'height': 400,
                                                        is3D: true
                                                    };

                                                    var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
                                                    chart.draw(data, options);
                                                    //$("#chart_div").slideDown();
                                                }
                                            });
                                        }
                                    });
                                }
                            });
                        });

                        break;
                }
            });
        });
    </script>
}



