@{
    ViewBag.Title = "Gráficos";
}

<select class="target">
    <option value="[Selecione]" selected="selected">[Selecione]</option>
    <option value="AtoresEOTotalDeTitulosPorAtor">Atores e o total de titulos por ator</option>
    <option value="GenerosEOTotalDeTitulosPorGenero">Gêneros e o total de titulos por gênero</option>
    <option value="ClientesEOTotalDeTitulosLocados">Clientes e o total de titulos locados</option>
    <option value="Top10DosTitulosMaisLocadosPorPeriodo">Top 10 dos titulos mais locados por período</option>
</select>

<div id="divFilter" hidden="hidden">
    <label for="from">De</label>
    <input type="text" id="from" name="from" />
    <label for="to">Até</label>
    <input type="text" id="to" name="to" />
    <input type="button" id="filter" name="filter" value="Filtrar" />
</div>

<div id="chart_div" style="width: 900px; height: 500px;"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jquerymask")
    <!--<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>-->
    <script type="text/javascript">
        $(function () {

            $("#divFilter").slideUp();

            Date.prototype.ddmmyyyy = function () {

                var yyyy = this.getFullYear().toString();
                var mm = (this.getMonth() + 1).toString(); // getMonth() is zero-based         
                var dd = this.getDate().toString();

                return (dd[1] ? dd : "0" + dd[0]) + '/' + (mm[1] ? mm : "0" + mm[0]) + '/' + yyyy;
            };

            var hoje = new Date();

            $("#from").mask("99/99/9999");
            $("#to").mask("99/99/9999");

            $("#from").val(hoje.ddmmyyyy());
            $("#to").val(hoje.ddmmyyyy());

            $(".target").change(function () {

                $("#divFilter").slideUp();
                $("#chart_div").slideUp();

                val = $(this).val();

                switch (val) {
                    case "AtoresEOTotalDeTitulosPorAtor":
                        $.ajax({
                            url: 'https://www.google.com/jsapi?callback',
                            cache: true,
                            dataType: 'script',
                            success: function () {
                                google.load('visualization', '1', {
                                    packages: ['corechart'], 'callback': function () {
                                        $.ajax({
                                            type: "POST",
                                            dataType: "json",
                                            data: "",
                                            url: "/Chart/AtoresEOTotalDeTitulosPorAtor",
                                            success: function (jsondata) {
                                                var data = new google.visualization.DataTable();
                                                data.addColumn('string', 'Atores');
                                                data.addColumn('number', 'Títulos');
                                                data.addRows(jsondata);

                                                var options = {
                                                    'title': 'Atores e o total de titulos por ator',
                                                    'width': 600,
                                                    'height': 400,
                                                    is3D: true,
                                                    backgroundColor: '#efeeef'
                                                };

                                                var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
                                                chart.draw(data, options);
                                                $("#chart_div").slideDown();
                                            }
                                        });
                                    }
                                });
                            }
                        });
                        break;

                    case "GenerosEOTotalDeTitulosPorGenero":
                        $.ajax({
                            url: 'https://www.google.com/jsapi?callback',
                            cache: true,
                            dataType: 'script',
                            success: function () {
                                google.load('visualization', '1', {
                                    packages: ['corechart'], 'callback': function () {
                                        $.ajax({
                                            type: "POST",
                                            dataType: "json",
                                            data: "",
                                            url: "/Chart/GenerosEOTotalDeTitulosPorGenero",
                                            success: function (jsondata) {
                                                var data = new google.visualization.DataTable();
                                                data.addColumn('string', 'Gêneros');
                                                data.addColumn('number', 'Títulos');
                                                data.addRows(jsondata);

                                                var options = {
                                                    'title': 'Gêneros e o total de titulos por gênero',
                                                    'width': 600,
                                                    'height': 400,
                                                    is3D: true,
                                                    backgroundColor: '#efeeef'
                                                };

                                                var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
                                                chart.draw(data, options);
                                                $("#chart_div").slideDown();
                                            }
                                        });
                                    }
                                });
                            }
                        });
                        break;

                    case "ClientesEOTotalDeTitulosLocados":
                        $.ajax({
                            url: 'https://www.google.com/jsapi?callback',
                            cache: true,
                            dataType: 'script',
                            success: function () {
                                google.load('visualization', '1', {
                                    packages: ['corechart'], 'callback': function () {
                                        $.ajax({
                                            type: "POST",
                                            dataType: "json",
                                            data: "",
                                            url: "/Chart/ClientesEOTotalDeTitulosLocados",
                                            success: function (jsondata) {
                                                var data = new google.visualization.DataTable();
                                                data.addColumn('string', 'Clientes');
                                                data.addColumn('number', 'Títulos');
                                                data.addRows(jsondata);

                                                var options = {
                                                    'title': 'Clientes e o total de titulos locados',
                                                    'width': 600,
                                                    'height': 400,
                                                    is3D: true,
                                                    backgroundColor: '#efeeef'
                                                };

                                                var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
                                                chart.draw(data, options);
                                                $("#chart_div").slideDown();
                                            }
                                        });
                                    }
                                });
                            }
                        });
                        break;

                    case "Top10DosTitulosMaisLocadosPorPeriodo":

                        $("#divFilter").slideDown();

                        /*
                        $(function () {
                            $("#from").datepicker({
                                defaultDate: "+1w",
                                changeMonth: true,
                                numberOfMonths: 3,
                                onClose: function (selectedDate) {
                                    $("#to").datepicker("option", "minDate", selectedDate);
                                }
                            });
                            $("#to").datepicker({
                                defaultDate: "+1w",
                                changeMonth: true,
                                numberOfMonths: 3,
                                onClose: function (selectedDate) {
                                    $("#from").datepicker("option", "maxDate", selectedDate);
                                }
                            });
                        });
                        */

                        $("#filter").click(function () {

                            $.ajax({
                                url: 'https://www.google.com/jsapi?callback',
                                cache: true,
                                dataType: 'script',
                                success: function () {
                                    google.load('visualization', '1', {
                                        packages: ['corechart'], 'callback': function () {

                                            var filtro = {};
                                            filtro.DataInicial = $("#from").val();
                                            filtro.DataFinal = $("#to").val();

                                            var dataObject = JSON.stringify({
                                                'DataInicial': $("#from").val(),
                                                'DataFinal': $("#to").val()
                                            });

                                            $.ajax({
                                                type: "POST",
                                                dataType: "json",
                                                data: filtro,
                                                url: "/Chart/Top10DosTitulosMaisLocadosPorPeriodo",
                                                success: function (jsondata) {
                                                    var data = new google.visualization.DataTable();
                                                    data.addColumn('string', 'Atores');
                                                    data.addColumn('number', 'Títulos');
                                                    data.addRows(jsondata);

                                                    var options = {
                                                        'title': 'Top 10 dos titulos mais locados por período',
                                                        'width': 600,
                                                        'height': 400,
                                                        is3D: true,
                                                        backgroundColor: '#efeeef'
                                                    };

                                                    var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
                                                    chart.draw(data, options);
                                                    $("#chart_div").slideDown();
                                                }
                                            });
                                        }
                                    });
                                }
                            });
                        });

                        break;
                }
            });
        });
    </script>
}



